html {
  font-family: "Raleway", arial, sans-serif;
  font-weight: 500px;
  color: #105236;
}

.small-text {
  font-size: 0.85rem;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: #105236;
  padding: 2rem;
  font-weight: 500;
}

/** header **/
header {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  align-items: center;
  margin:auto;
  height: 150px;
  border-bottom: 1px #bfbfbf solid;
}

#header-logo {
  max-height: 40px;
  margin: 2rem;
}

#navigation-menu{
  display: flex;
  justify-content: end;
}

#navigation-menu ul li{
  display: inline;
}

#header-phone-number {
  color:#fff;
  background-color: #105236;
  border-radius: 30px;
  padding: 0rem 2rem;
  margin: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

/** form **/
#form {
  margin: auto;
  max-width: 60%;
  margin-top: 5rem;
}

#form-header {
  display: flex;
  align-items: center;
  font-weight: 900;
  font-size: 3rem;
}

#step-text {
  display: flex;
  font-weight: 400;
  font-size: 2rem;
}

#help-text {
  color: #f49831;
  margin: 1rem;
}

.space {
  margin: 1rem;
}

#form-body {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 2rem;
  gap: 5rem;
}

.form-question-text {
  background-color: #f3f7f5;
  padding: 2rem;
  letter-spacing: 2px;
  font-size: 1.5rem;;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
}

.form-question-input {
  background-color: #fffaf5;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
}

.button {
  display: flex;
  justify-content: center;
}

.form-button {
  color: #fff;
  background-color: #f49831;
  border-radius: 40px;
  text-align: center;
  padding: 2rem 4rem;
  max-width: 10%;
  margin: 2rem;
  font-weight: 700;
}

/** money helper **/
#money-helper {
  background-color: #fffaf5;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 100px;
}

#money-helper-content {
  max-width: 45%;
  text-align: center;
  letter-spacing: 2px;
  line-height: 2.5rem;
  font-size: 1.25rem;
}

#money-helper-logo {
  max-height: 100px;
  margin: 0 auto;
}

/** logo **/
#logos {
  display: flex;
  justify-content: center;
  padding: 13rem 0 5rem 0;
}

.logos-content {
  display: flex;
  justify-content: center;
  gap: 10%;
}

.logo {
  max-height: 40%;
}

/** foooter **/
footer {
  background-color: #54b592;
  color: #fff;
  padding-bottom: 5rem;
}

.grid-container {
  display: grid;
  grid-template-columns: 8fr 1fr 1fr;
  align-items: center;
  padding: 3rem;
}

.small-logo {
  max-height: 25px;
}

#footer-facebook {
  margin-left: auto;
  padding: 0.5rem;
}

#footer-twitter {
  padding: 0.5rem;
}

#footer-top {
  display: flex;
  justify-content: space-between;
  margin: auto;
  max-width: 50%;
  padding-bottom: 3rem;
  align-items: end;
}

#footer-bottom {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto;
  max-width: 50%
}
